.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
    border-radius: 2px;
    overflow: hidden;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}

/* style.css */


.r-tabs {
    position: relative;
}

.r-tabs .r-tabs-nav {
    /* border-bottom: 1px solid #e5e5e5; */
}

.r-tabs .r-tabs-nav .r-tabs-tab {
    position: relative;
    top: 0px;
}

.r-tabs .r-tabs-nav .r-tabs-anchor {
    background: #fb7133;
    margin-bottom: 0px;
    padding: 12px 12px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Mitra','Arial',sans-serif;
    font-size: 19px;
    /* font-weight: bold; */
    width: 82px;
}

.r-tabs .r-tabs-nav .r-tabs-anchor:hover{
    background: #fb7133 !important;
}



.r-tabs .r-tabs-nav .r-tabs-state-active {
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    height: 50px;
    margin-bottom: -8px;
    border-radius: 3px 3px 0 0;
}

.r-tabs .r-tabs-nav .r-tabs-state-disabled {
    opacity: 0.5;
}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    /* color: white; */
    /* background-color: #32aea3; */
}

.r-tabs .r-tabs-panel {
    border: 1px solid #e5e5e5;
    /* border-bottom: 1px solid #e5e5e5; */
    /* border-left: 1px solid #e5e5e5; */
    margin-bottom: 3px;
    border-radius: 5px;
    background: white;
    box-sizing: border-box;
    width: 509px;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    display: block;
    padding: 10px;
    background-color: #00aadd;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 3px;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
    opacity: 0.5;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #fff;
    color: #00aadd;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-bottom: 0;
}
