<div class="moduletable banner">
  <ul>
    <li class="items1" style="display:none; width:268px; height:418px;">
      <a href="#" target="_self" title="">
        <img class="banner_img" src="assets/baner1.png">
<span><div>
  <p class="ban1_text1">15% discount</p>

  <p class="ban1_text2">on orders of $50 or more</p>
</div></span>
      </a>
    </li>
    <li class="items2" style="width:269px; height:194px;">
      <a href="#">
        <p class="ban1_text1">۲۵٪ تخفیف<span> ویژه</span></p>
        <p class="ban1_text2">برای هدیه های روز معلم</p>
      </a>
    </li>
    <li class="items3" style="width:269px; height:194px;">
      <a href="#">
        <p class="ban1_text1">ارسال رایگان</p>
        <p class="ban1_text2">برای سفارشات بالای فلان تومان</p>
      </a>
    </li>
  </ul>
</div>